cctv-analytics/
*/yolov8n.pt
yolov8n.pt

data/

*__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pkl.gz
*.pkl.bz2
*.pth
*.pt
analytics_service/src/weights/
analytics_service/results/
analytics_service/hf.token
.env
venv/
*.mp4
*.md
